@model SacramentPlanner.Models.Member

@{
    ViewData["Title"] = "New Member";
}

<h2>New Member</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="vertical-form" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conducting" /> @Html.DisplayNameFor(model => model.Conducting)
                </label>
            </div>
        </form>
    </div>
</div>

<div class="horizontal-button-group">
    <a asp-action="Index">⮘ Cancel</a>
    <input type="submit" value="Create" form="create-form" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
