@model SacramentPlanner.Models.Member

@{
    ViewData["Title"] = "Edit Member Information";
}

<h2>Edit Member Information</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conducting" /> @Html.DisplayNameFor(model => model.Conducting)
                </label>
            </div>
        </form>
    </div>
</div>
<hr />

<div class="horizontal-button-group">
    <a asp-action="Details" asp-route-id="@Model.Id">⮘ Back</a>
    <input type="submit" value="Save" form="edit-form" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
