@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><i>"Welcome, Welcome, Sabbath Morning"</i></h3>
</div>
<div id="home-body-text-justify">
    <p></p>
    <p>
        Welcome to <b>Sacrament Planner</b>! We are pleased to share this wonderful tool to facilitate Sacrament Meeting Planning, while encouraging membership participation in praising Heavenly Father and The Savior Jesus Christ.
    </p>
    <p></p>
    <p></p>
    <p><b>Sacrament Planner</b> is not only meant to aid in organizing Sacrament meetings. You can also use this tool to organize devotional meetings and other Church appropriate meetings.
    </p>

    <img src="https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/articles/preparing-youth/800x450/youth-temple-prep-spiritual-1874929.jpg" width="350" height="200" class="text-center">
    <img src="https://churchofjesuschrist.org/imgs/b9d369fc2cf1bc51a441551d15a02a99404f5c53/full/640%2C/0/default" width="260" height="200" class="text-center">

</div>
