@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div id="home-body-text-justify">
    <p></p>
    <h3><b><i>Our Commitment to Privacy</i></b></h3>
</div>
<div id="home-body-text-justify">
    <p>We are committed to maintaining the privacy and security of your personal information. We understand the importance of safeguarding your data and want to ensure that you feel secure when visiting our website.
    </p>
    <p></p>
    <p></p>
    <p></p>
    <h3><b><i>Collection of Personal Information</i></b></h3>
    <p></p>
    <p>When you visit our website, we may collect certain personal information to enhance your experience. This information may include, but is not limited to, your name, contact details, and any other details you choose to share with us. Rest assured that we do not sell or share this information with third parties without your explicit consent.
    </p>
    <p></p>
    <p></p>
    <p></p>
    <h3><b><i>How We Use Your Information</i></b></h3>
    <p>The personal information we collect is used for internal purposes only. This may include providing you with requested services, sending updates or newsletters, and improving our website's content. We respect your privacy and will not disclose your information to external parties unless required by law.
    </p>
</div>
